# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

# Output of the go coverage tool, specifically when used with LiteIDE
#coverage.out
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go


# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test
*.prof
main
cselo
eloupd

#ide stuff
*.sublime-workspace
*.sublime-project
.idea/
.vscode/
.zed/
.fleet/

#binaries and generated stuff
bin/
release/
data/
db/
README.html
coverage.txt

cselo.ini
*.ini
disco
initialize-new-instance.sh
